<h1>Disciplines</h1>

<div>
  <%= link_to 'New Discipline', new_discipline_path %>
</div>

<table>

  <thead>
    <tr>
      <th>Discipline</th>
      <% 6.downto(2) do |n| %>
        <th><%= n.days.ago.strftime('%A') %></th>
      <% end %>
      <th>Yesterday</th>
      <th>Today</th>
    </tr>
  </thead>

  <tbody>

    <% @disciplines.each do |discipline| %>
      <%= render partial: 'discipline',
              locals: { discipline: discipline,
                        summary: @summary[discipline.title] } %>
    <% end %>

    <tr>
      <td scope="row">
        All
      </td>
      <% 6.downto(0) do |n| %>
        <td>
          <%= @summary['total'][n] %>
        </td>
      <% end %>
    </tr>

  </tbody>

</table>

<% lengths = {} %>
<% @summary.each_pair do |key, value| %>
  <% lengths[key] = value.map { |duration| duration.length/3600 } %>
<% end %>
<% json = lengths.to_json %>

<%= hidden_field_tag 'plot_data', json %>

<div class="plot" id="daily_plot"></div>
<div class="plot" id="weekly_total_plot"></div>
