<h1>Edit Block</h1>

<h2> <%= @block.discipline.title %> </h2>

<%= form_for :block,
  url: discipline_block_path(@block.discipline_id, @block.id),
    method: :patch do |f| %>

  <p>
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </p>

  <p>
    <%= f.label :finish %><br>
    <%= f.datetime_select :finish %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

