<h1>New Block</h1>

<h2> <%= Discipline.find(@discipline_id).title %> </h2>

<%= form_for :block, url: discipline_blocks_path(@discipline_id) do |f| %>

  <p>
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </p>

  <p>
    <%= f.label :finish %><br>
    <%= f.datetime_select :finish %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

