<h1>New Block</h1>

<%= form_for :block, url: blocks_path do |f| %>

  <p>
    <%= f.label :discipline %><br>
    <%= f.text_field :discipline %>
  </p>

  <p>
    <%= f.label :start %><br>
    <%= f.datetime_select :start %>
  </p>

  <p>
    <%= f.label :finish %><br>
    <%= f.datetime_select :finish %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

