<!DOCTYPE html>
<html>
<head>
  <title>Effort</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="title_bar">
    <div id="title">
      <h1>Effort</h1>
    </div>

    <div id="pending">
      <% pending = Block.pending %>
      <% if !pending.empty? %>
        <h2>Pending</h2>
      <% end %>
      <p>
        <% Block.pending.each do |block| %>
          <%= block.discipline.title %></br>
          <%= block.time_spent_string %></br>
          <%= link_to 'Finish',
            finish_discipline_block_path(block.discipline_id, block.id),
            method: :post %>
        <% end %>
      </p>
    </div>
  </div>
  <%= yield %>

</body>
</html>
