<!DOCTYPE html>
<html>
<head>
  <title>Effort</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="title_bar">
    <div id="title">
      <h1>Effort</h1>
    </div>

    <%= render 'blocks/pending' %>
  </div>
  <%= yield %>

</body>
</html>
